  @import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@700&family=Great+Vibes&family=Lilita+One&family=Poppins:ital,wght@0,500;1,100&family=Shadows+Into+Light&display=swap');

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', sans-serif;
}

header{
    background-image: linear-gradient(25deg,rgb(229, 70, 243),rgb(17, 189, 146));
    box-shadow: 0px 6px 8px rgb(78, 73, 73);
    padding: 0px 10px;    
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav a{
  color: white !important;
}

#icone-home{
  width: 25px;
  filter: invert(); 
}

.container-calculos{
  margin:30px auto;
  width:90%;
  border-radius: 8px;
  height: 270px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.container-calculos h3{
 background: linear-gradient(45deg,rgb(220, 8, 220),rgb(108, 3, 164));
 background-clip: text;
 color: transparent;
}

.form-floating{  
  width: 90% !important;
}



.form-control{
  position: relative;
  font-size: 26px !important;
  
  text-align: center;    
}

.form-control:focus-visible{
  position: relative !important; 
  box-shadow: 0px 0px 1px 2px rgb(178, 9, 212) !important;
}



#taxa-de-juros{
  font-size: 20px !important;
  width: 60% !important;
}


.form-floating label{
  height: 25px !important;
  font-size: 14px; 
  color: grey;
  padding: 0px 2px !important;  
  position: absolute  !important; 
  left: 10px !important;
  top: 0 !important;
  transform: translateY(-50%) !important;
  background-color: white;
  opacity: 100% !important;
  
}

.form-floating:focus-within label{
  color:rgb(126, 5, 169) !important;
  background-color: white ;
  opacity: 100% !important;    
}

.form-taxa-juros{

  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}












  
  






@media (min-width: 768px){
  .container-calculos{
    width: 50%;
  }
}

