

header{
    background-image: linear-gradient(25deg,rgb(252, 28, 252),rgb(250, 153, 27)) !important;
    box-shadow: 0px 6px 8px rgb(78, 73, 73);
    padding: 0px 10px;    
}

main{
    width: 100%;
    height: auto;
    margin: 20px auto;   
}

#jogos-salvos{
   width: 96%;    
   display: flex;
   margin: 20px auto;
   border: 0.3px solid rgba(128, 0, 128, 0.293);
   border-radius: 10px;
   flex-direction: column;
   align-items: center;  
   padding: 5px;  
}

#lista-jogos-salvos{
    width: 100%;
    height: max-content;  
    padding: 10px;  
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    
}

.txt-info{
    margin-bottom: -30px;
    display: none;
}

#info-ganho{
    font-size: 12px;
    color: rgba(75, 58, 96, 0.879);

}

.faturamento{   
    display: flex;
    background:linear-gradient(45deg,rgb(235, 236, 237),rgb(240, 234, 249));
    height: 40px;
    padding: 8px 30px;    
    border-radius: 30px;
    color: rgb(254, 249, 249);
}

.lucro{
    background:linear-gradient(45deg,green,rgb(67, 251, 67));
}

.prejuizo{
    background:linear-gradient(45deg,red,rgb(255, 134, 97));
}

.empate{
    background:linear-gradient(45deg,rgb(8, 158, 246),rgb(55, 250, 247));
}

.container-jogo-salvo{
    width:100%;
    height: 180px;
    border: 1px solid rgba(255, 106, 0, 0.486);    
    border-radius: 10px; 
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.593);
    padding: 10px 0px;
    display: flex;    
    justify-content: space-around;
    align-items: center; 
    
    }



.dezenas{   
    width: 80%;
    height: 100%;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    gap: 0px 10px;
    
}    



.dezena-jogo-salvo{
    width: 40px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}  

.acertos{
    width: 30%;      
    display: flex;
    flex-direction: column;    
    align-items: center;    
}

.conferir-acertos{
   
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   
}

h6{
    color: rgb(173, 101, 173);
}

button{
    border: none !important;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

button img{
    width: 30px !important;
    
    
}

.cor-acerto{
    background-color: rgb(126, 3, 131);
    color: white;
}

.onze{
    background: linear-gradient(45deg,rgba(42, 251, 217, 0.887),rgb(70, 165, 237));
}
.doze{
    background: linear-gradient(45deg,rgba(251, 244, 32, 0.887),rgb(249, 183, 49));
}
.treze{
    background: linear-gradient(45deg,rgba(252, 193, 57, 0.887),rgb(250, 88, 18));
}
.quatorze{
    background: linear-gradient(45deg,rgba(137, 249, 76, 0.887),rgb(20, 243, 121));
}
.quinze{
    background: linear-gradient(45deg,rgba(242, 79, 220, 0.887),rgb(169, 41, 242));
}

@media (min-width: 768px){
    #jogos-salvos{
        width: 60%;
    }
}