
  @import url('https://fonts.googleapis.com/css2?family=Caramel&family=Dancing+Script:wght@700&family=Great+Vibes&family=Lilita+One&family=Poppins:ital,wght@0,500;1,100&family=Shadows+Into+Light&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', sans-serif;
}

header {   
    background-image: linear-gradient(25deg,rgb(248, 120, 229),rgb(189, 17, 183));
    box-shadow: 0px 6px 8px rgb(78, 73, 73);

}

header h1{
    font-size: 2.5rem;
    letter-spacing: 3px; 
    color:rgba(255, 255, 255, 0.959);
    text-shadow:5px 10px 10px  rgb(42, 9, 48);    
}

main{
    width: 100vw;
    height: 100%;
    padding: 10px 6px;
}



.resultados, .opcoes_jogo{
    text-align: center; 
    height: auto;       
}

.resultados{
    margin-bottom: 20px;
}



.resultados .opcoes_jogo , h2{    
    text-shadow: 0px 1px 10px rgba(14, 13, 13, 0.308);
    font-size: 1.8rem;
    margin-bottom: 3px;
}

.card{
    width: 380px;
    height: 620px !important;
}

.rateio{
   height: 210px;
}

#container-resultados{
    margin-top: 15px;
    display: flex;
    justify-content: center;    
}


.result_atual{    
    border-radius: 10px ;
    width: 96%;
    height: fit-content;
    margin: 5px auto;
    padding: 15px 10px;
    display: grid;
    grid-template-columns:repeat(5 , 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(-45deg,rgb(133, 6, 179),rgb(248, 44, 248));
    box-shadow: 0px 3px 8px gray;
}


.dezena_resultado{
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0px 5px 5px rgb(86, 79, 79);
    color: rgb(114, 7, 114);
 }

.info-proximo-concurso{
    margin-top: 35px;
    border-top:3px solid purple ;     
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-proximo-concurso p{
    background-color: rgba(167, 82, 237, 0.598);
    width: max-content;
    color: white;
    padding: 3px 15px;
    border-radius: 5px;
    margin-bottom: 3px;
    
}

.info-proximo-concurso h1{
    color: rgb(80, 79, 79);
    margin-right: 10px;
    font-size: 1.7rem;
}



#valor-proximo-concurso{
    text-shadow: 0px 2px 8px rgba(197, 197, 197, 0.73);
    color:rgb(27, 2, 41);
}

#numero-data-concurso{
    display: flex;  
    padding: 3px 8px;
    border-radius: 10px;
    background-color: rgba(220, 96, 210, 0.808);
    color: white;
}


.opcoes_jogo{
    display: flex;
    justify-content: center;
}

#btn-titulo-gerador{
    text-align: center;
    margin: 0px auto;  
    width: 320px;
    padding: 10px; 
    background-image: linear-gradient(125deg,rgb(92, 208, 243),rgb(130, 6, 157));   
    border-radius: 15px;
    box-shadow: 2px 8px 15px rgb(161, 101, 187);  
    animation: pulsar 2000ms ease-in-out infinite;     
    animation-fill-mode: forwards;

}



@keyframes pulsar {
     0%{transform: scale(1.0);}   
    50%{transform: scale(1.1);}
    }

#btn-titulo-gerador a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.sua_sorte{
    margin-top: 30px;
     width: 380px;
     box-shadow: 0px 3px 5px rgba(128, 0, 128, 0.541);
     height:auto;
     padding: 10px;
     border-radius: 8px;
     border: 1px solid rgba(158, 37, 169, 0.761);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly; 
       
} 

#opcoes{
    border: 1px solid rgba(128, 128, 128, 0.16);
    border-radius: 8px;   
    padding: 10px; 
    
}

.mb-3{    
    display: flex;
    justify-content: space-between;
}

.form-select{
    width: 75px !important;
    height: 45px !important;
    margin-left: 10px;
    padding: 5px !important;
}

.form-label{
    width:100%;
    color:purple;
    background-color: rgba(225, 108, 240, 0.25);
    border-radius: 5px;
    padding: 10px 8px;
}

.aleatorio{
    height: 60px;    
    display: flex;
    justify-content: center;
    align-items: center;}

#botao_aleatorio{
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 3px 8px rgb(62, 103, 240);
    background-image: linear-gradient(45deg,rgb(14, 209, 193),rgb(40, 183, 250));
}

.esconder-opcoes{
    display:none;
}

#qtd-jogos{
    color: rgb(247, 243, 236);
    background-color: rgb(177, 6, 177);
}

.dezena_gerada{
    color:rgb(104, 7, 98);
    background-color: rgb(253, 250, 253);
    border-radius: 50%;    
    height: 30px;
    width:30px;    
    font-size: 14px;
    margin: auto;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    box-shadow: 5px 5px 10px rgb(214, 199, 215);
}


.escolhas_geracao{
    width:100%;
    height: 100%;
    display: flex;    
    justify-content:center;
    align-items: center;
    padding: 12px;

}

#container-gerados{
    width: 96%;    
    height:auto;
    display: flex;
    margin: 0 auto;
    gap:5px;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (min-width: 768px){
    #container-gerados{
        width: 60%;
    }
}

.jogos-gerados{
    width: 180px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    box-shadow: 0px 3px 8px grey;
    border: 1px solid rgba(128, 128, 128, 0.238);
}

.selecionada{
    background-color: rgb(120, 6, 120);
}

#info-exclusao{
    font-size: 0.8rem !important;
    color: grey;
}

.list-group-horizontal{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.list-group-horizontal::-webkit-scrollbar{
    display: none;
}

.list-group-item.selected {
    background-color: rgb(213, 24, 213);
    color: white;  /* Cor de destaque para itens selecionados */
}

.exclusao-dezenas{
    display: flex;   
    justify-content: center;
    align-items: center;   
}

input[type="checkbox"]:checked{
    background-color: purple !important; 
    
}


.selecao-dezenas-excluir{ 
    display: none;
    flex-direction: column;      
    border: 1px solid rgba(148, 77, 148, 0.379);
    border-radius: 8px;
    padding: 20px;
}

#dezenas-excluidas{
    border-radius: 5px;
    border: 0.5px solid rgba(128, 128, 128, 0.479); 
    text-align: center;    
}

.geradores{
    width:50%;
    padding:10px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 24px;
    box-shadow: 0px 5px 8px rgb(244, 41, 244);  
    border: none;  
}

 #btn7{
    background-image: linear-gradient(45deg,rgb(152, 49, 231),rgb(239, 17, 213));
    width: 280px;
    
}

#btn7 a{
    color:white;
    text-decoration: none;
}





